{% extends "base.twig" %}

{% block title %}T3{% endblock %}

{% block content %}
    <h1 class="text-center text-5xl font-bold my-10">Testfall 1 - Gleichzeitige Geld체berweisungen</h1>
    <section class="mx-auto w-fit border border-gray-200 bg-white">
        <div class="flex items-center flex-col p-10 gap-5">
            <h2 class="text-3xl mb-5">Suche dir eine Bibliothek aus:</h2>
            <a href="/t1/parallel" class="text-xl font-bold text-white bg-[#669933] hover:opacity-80 px-5 py-2">parallel</a>
            <a href="/t1/fibers" class="text-xl font-bold text-white bg-[#669933] hover:opacity-80 px-5 py-2">Fibers</a>
        </div>
        {% if processingTime %}
            <div class="flex flex-col items-center text-xl">
                <p>Verarbeitungszeit: <span id="executionTime">{{ processingTime }}</span> Sekunden</p>
            </div>
            <div class="w-full h-px bg-black mt-6"></div>
        {% endif %}
        {% if users %}
            <div class="flex items-center flex-col p-10 gap-5 text-2xl">
                {% if usersOld %}
                    <a href="/t1" class="text-xl font-bold text-white bg-php-darker hover:opacity-80 px-5 py-2">Zur체cksetzen der Datenbank</a>
                    <p>Vorherige Kontost채nde:</p>
                    <table class="text-2xl border-collapse">
                        <thead>
                            <tr class="border-b">
                                <th class="border-r">Name</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in usersOld %}
                                <tr class="border-b">
                                    <td class="border-r">{{ user['name'] }}</td>
                                    <td>{{ user['balance'] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                <p>Aktuelle Kontost채nde:</p>
                <table class="text-2xl border-collapse broder border-gray-200">
                    <thead>
                        <tr class="border-b">
                            <th class="border-r">Name</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr class="border-b">
                                <td class="border-r">{{ user['name'] }}</td>
                                <td>{{ user['balance'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </section>

{% endblock %}
